@CHARSET "ISO-8859-1";

body{
	font-family: "verdana";	
	font-size: 12px;
}

p{
	font-size: 14px;
}


.clear-fix {
	clear: both;
}

.workspace {
	border-style: outset;
	position: relative;
	z-index: 99;
	height: auto;
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.workspace-left {
	float: left;
}

.workspace-right {
	float: right;
}

.span1 {
	width: 370px;
	position: relative;
	height: 250px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-left: 50px;
	margin-right: 50px;
/* 	margin-bottom: 10px; */
	margin-bottom: 100px;
	overflow: auto;
}

.span2 {
	max-width: 600px;
	width: auto;
	position: relative;
	margin-left: 50px;
	margin-right: 50px;
	max-height: 510px;
	height: auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	overflow: auto;
}


.head {
	height: 35px;
	background: rgb(107, 147, 190); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(100%, rgba(107
		, 147, 190, 1)), color-stop(100%, rgba(53, 106, 160, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(            startColorstr='#6b93be',
		endColorstr='#356aa0', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.head p {
	font-weight: bold;
	color: white;
	margin: 0;
	padding: 6px;
	text-align: center;
}

.content {
	padding: 10px;
}

/*######### BOTOES ########## */
.btn {
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	background-color: rgb(107, 147, 190);
	color: #fff;
	padding: 10px;
}

.btn:hover {
	color: #fff;
	text-decoration: none;
	background-color: #416C9B;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn-input {
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	padding: 5px 15px 5px 15px;
}

.btn-input:hover {
	color: #fff;
	text-decoration: none;
	background-color: #416C9B;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

#btn-editar-no{
	text-align: center;
}

#btn-editar-no .btn-input{
	margin: 50px 10px 10px;
}



/* ######### HEADER ##########  */
#header {	
	-moz-box-shadow: 0 0 5px 3px #888;
	-webkit-box-shadow: 0 0 5px 3px #886;
	box-shadow: 0 0 5px 3px #888;
	min-width: 700px;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 9999;
	display: block;
	height: 60px;
	color: white;
	background: rgb(107, 147, 190); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(100%, rgba(107
		, 147, 190, 1)), color-stop(100%, rgba(53, 106, 160, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(            startColorstr='#6b93be',
		endColorstr='#356aa0', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

#header a {
	text-transform: none;
	color: white;	
	font-size: 20px;
}

#header a h3 {
	margin-left: 10px;
	margin-right: 20px;
	float: left;
	margin-top: 20px;
/* 	font-family: arial; */
}

#header img{
	float: left;
	margin-left: 20px;
}

#header .btn-input {
	padding: 3px 15px 3px 15px;
	
}

#header .btn-input:HOVER{
	background-color: #CD0000;
}

/* ############# MAIN ############# */
#main {
	overflow: auto;
	top: 60px;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 999;
	display: block;
	width: 100%;
	min-height: 550px;
	background: rgb(252, 255, 244); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(252, 255, 244, 1) 0%,
		rgba(233, 233, 206, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(252
		, 255, 244, 1)), color-stop(100%, rgba(233, 233, 206, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(252, 255, 244, 1) 0%,
		rgba(233, 233, 206, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(252, 255, 244, 1) 0%,
		rgba(233, 233, 206, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(252, 255, 244, 1) 0%,
		rgba(233, 233, 206, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(252, 255, 244, 1) 0%,
		rgba(233, 233, 206, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(             startColorstr='#fcfff4',
		endColorstr='#e9e9ce', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

#bem-vindo {
	margin-left: 75px;
	margin-top: 30px;
	margin-bottom: 50px;
	x;
}

#visualizar-organograma {
	margin: 90px 30px 60px 30px;
	width: 50%;
	text-align: center;
	float: left;
	position: relative;
}

#formulario-login1 {
	width: 25%;
	margin: 30px;
	position: relative;
	vertical-align: middle;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 30px;
	color: white;
	background: rgb(107, 147, 190); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(100%, rgba(107
		, 147, 190, 1)), color-stop(100%, rgba(53, 106, 160, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(            startColorstr='#6b93be',
		endColorstr='#356aa0', GradientType=1);
	-moz-border-radius: 5px;
	/* IE6-9 fallback on horizontal gradient */
}

#formulario-login2 {
	float: right;
	margin: 18px 20px 0px 20px;
}

#formulario-logout {
	float: right;
	margin: 18px 20px 0px 20px;
}

#treeView .content{
	margin: 10px 20px 10px 20px;
}

#controle-exibicao{
	height: auto;
}

.table {
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
	padding: 6px;
}

.table th {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
}

.table td {
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding: 6px;
}

#table-editar-no{
	text-align: center;
	border-collapse: collapse;
}

#table-editar-no td{
	text-align: left;
}

#table-editar-no td p{
	text-align: right;
}

/* ############ FOOTER ############ */
#footer {
	-moz-box-shadow: 0 0 5px 3px #888;
	-webkit-box-shadow: 0 0 5px 3px #886;
	box-shadow: 0 0 5px 3px #888;
	color: white;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 35px;
	text-align: center;
	background: rgb(107, 147, 190);
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(100%, rgba(107
		, 147, 190, 1)), color-stop(100%, rgba(53, 106, 160, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(107, 147, 190, 1) 100%,
		rgba(53, 106, 160, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(            startColorstr='#6b93be',
		endColorstr='#356aa0', GradientType=1);
	background: rgb(107, 147, 190);
	/* IE6-9 fallback on horizontal gradient */
}

#footer h5 {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 20px;
}